$color-primary-text: #f9f9f9;
$color-background-body: #040714;
$color-input-background: #31364a;
$color-input-border: #ccc;
$color-input-focus-border: #0073e6;

.login {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background-body;
    min-height: calc(100vh - 178px); 

    &__container {
        width: 100%;
        max-width: 420px;
        text-align: center;
        padding: 0 2rem;

        .title--big {
            color: $color-primary-text;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;

        &__input-group {
            margin-bottom: 1.5rem;
            text-align: left;
        }

        &__input {
            width: 100%;
            display: block;
            background-color: $color-input-background;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 1rem;
            margin-top: 0.5rem;
            color: $color-primary-text;
            font-size: 1rem;

            &:focus {
                outline: none;
                border-color: $color-input-focus-border;
            }
        }

        &__forgot-password {
            margin-top: 1rem;
            
            a {
                color: $color-primary-text;
                font-size: 0.9rem;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__signup {
        margin-top: 2rem;
    }
}